<% layout('/layouts/boilerplate') -%>
<body>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" placeholder="Enter Title" name="listing[title]">
        <br> <br>
        <textarea placeholder="Enter Description" name="listing[description]"></textarea>
        <br> <br>
        <input type="text" placeholder="Enter Image URL/link" name="listing[image]">
        <br> <br>
        <input type="number" placeholder="Enter Price" name="listing[price]">
        <br> <br>
        <input type="text" placeholder="Enter Location" name="listing[location]">
        <br> <br>
        <input type="text" placeholder="Enter Country" name="listing[country]">
        <br> <br>
        <button>Add</button>
    </form>
</body>


