<% layout('/layouts/boilerplate') -%>
<body>
    <br>
    <div class="row">
        <div class="col col-md-8 offset-2">
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Add a Catchy title" name="listing[title]" class="form-control" required>
            <div class="valid-feedback">Title Looks Good!!</div>
            <div class="invalid-feedback">Provide a Valid Title.</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea placeholder="Enter Description" name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please provide a short description.</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" placeholder="Enter Image URL/link" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4 ">
                <label for="price" class="form-label">Price</label>
                <input placeholder="1500" name="listing[price]" class="form-control" required>
                <div class="invalid-feedback">Price should be valid.</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input type="text" placeholder="Saket, New Delhi" name="listing[location]" class="form-control" required>
                <div class="invalid-feedback">Location should be valid.</div>
            </div>
        </div>
        
        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" placeholder="India" name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">Country should be valid.</div>
        </div>
        
        <br> <br>
        <button class="mb-3 btn btn-dark add-btn">Add</button>
    </form>
    <br><br>
</div>
</div>
</body>


